# Ignored
minecraftinstance.json

overrides/config/jei/worldSettings.cfg

overrides/mods/*
!overrides/mods/jarlist.txt
!overrides/mods/vintagium*.jar*
!overrides/mods/oculus*.jar*
!overrides/mods/chunkbert*.jar*

overrides/essential/*
!overrides/essential/config.toml
