minecraftinstance.json

.tools/__pycache__
.tools/timestamp.log

overrides/config/jei/worldSettings.cfg

overrides/mods/*
!overrides/mods/modtracker.txt
!overrides/mods/vintagium*.jar*
!overrides/mods/oculus*.jar*
!overrides/mods/chunkbert*.jar*

overrides/resourcepacks/*
!overrides/resourcepacks/resourcetracker.txt

overrides/shaderpacks/*
!overrides/shaderpacks/shadertracker.txt

overrides/essential/*
!overrides/essential/config.toml
